
@{
    Layout = null;
}

<!DOCTYPE html>

<html langu="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Pricing Test 2</title>
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/App_Themes/Default/css/pricing-table.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col" style="border: dotted 1px red;">1</div>
            <div class="col" style="border: dotted 1px green;">2</div>
            <div class="col" style="border: dotted 1px blue;">3</div>
            <div class="col" style="border: dotted 1px black;" hidden>4</div>
        </div>
    </div>

    <br /><br />

    <div class="container-fluid">
        <div class="row">
            <div class="col" style="border: dotted 1px red;">1</div>
            <div class="col" style="border: dotted 1px green;">2</div>
            <div class="col" style="border: dotted 1px blue;" hidden>3</div>
            <div class="col" style="border: dotted 1px black;" hidden>4</div>
        </div>
    </div>

    <br /><br />

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs col-sm" style="border: dotted 1px red;">col 1</div>
            <div class="col-xs col-sm" style="border: dotted 1px green;">col 2</div>
            <div class="col-xs col-sm" style="border: dotted 1px blue;">col 3</div>
        </div>
    </div>

    <br /><br />

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs col-sm" style="border: dotted 1px red;">col 1</div>
            <div class="col-xs col-sm" style="border: dotted 1px green;">col 2</div>
            <div class="col-xs col-sm" style="border: dotted 1px blue;">col 3</div>
            <div class="col-xs col-sm" style="border: dotted 1px black;">col 4</div>
        </div>
    </div>

    <br /><br />

    <div class="row">
        <div class="col-sm" style="background-color: red;">Lorem ipsum...</div>
        <div class="col-sm" style="background-color: white;">Lorem ipsum dolor sit amet, cibo sensibus interesset no sit. Et dolor possim volutpat qui. No malis tollit iriure eam, et vel tale zril blandit, rebum vidisse nostrum qui eu. No nostrud dolorem legendos mea, ea eum mucius oporteat platonem.Eam an case scribentur, ei clita causae cum, alia debet eu vel.</div>
        <div class="col-sm" style="background-color: blue;">col</div>
    </div>

    <br /><br />

    <div class="row">
        @*<div class="col-sm" style="background-color: white;"></div>*@
        <div class="col-sm" style="background-color: red;">Lorem ipsum...</div>
        <div class="col-sm" style="background-color: blue; color: white;">Lorem ipsum dolor sit amet, cibo sensibus interesset no sit. Et dolor possim volutpat qui. No malis tollit iriure eam, et vel tale zril blandit, rebum vidisse nostrum qui eu. No nostrud dolorem legendos mea, ea eum mucius oporteat platonem.Eam an case scribentur, ei clita causae cum, alia debet eu vel.</div>
        @*<div class="col-sm" style="background-color: white;"></div>*@
    </div>

    <br /><br />

    <div class="row">
        <div class="col-sm" style="background-color: red;">left</div>
        <div class="col-sm" style="background-color: blue;">right</div>
    </div>


    <br /><br />

    <div class="row">
        <div class="col-sm-9" style="border: dotted 1px red;">col-sm-9</div>
        <div class="col-sm-3" style="background-color: blue; color:white;">col-sm-3</div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm" style="border: dotted 1px red;">col-sm</div>
        <div class="col-sm" style="border: dotted 1px green;">col-sm</div>
        @*<div class="col-sm" style="background-color: blue; color:white;">col-sm</div>*@
    </div>

    <article class="col-md-12">
        <!-- *********  PRICING 1  ********* -->
        <div class="pricing-1 section-gray" hidden="">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="block block-pricing">
                            <div class="table">
                                <h6 class="category">PERSONAL</h6>
                                <h1 class="block-caption"><small>$</small>29</h1>
                                <ul>
                                    <li><b>4 GB</b> Ram</li>
                                    <li><b>7/24</b> Tech Support</li>
                                    <li><b>40 GB</b> SSD Cloud Storage</li>
                                    <li>Monthly Backups</li>
                                    <li>Palo Protection</li>
                                </ul> <a href="#" class="btn btn-danger btn-round"><i class="fa fa-shopping-cart"></i> Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="block block-pricing">
                            <div class="table">
                                <h6 class="category">BUSINESS</h6>
                                <h1 class="block-caption"><small>$</small>49</h1>
                                <ul>
                                    <li><b>4 GB</b> Ram</li>
                                    <li><b>7/24</b> Tech Support</li>
                                    <li><b>40 GB</b> SSD Cloud Storage</li>
                                    <li>Monthly Backups</li>
                                    <li>Palo Protection</li>
                                </ul> <a href="#" class="btn btn-danger btn-round"><i class="fa fa-shopping-cart"></i> Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="block block-pricing block-raised">
                            <div class="table table-danger">
                                <h6 class="category">CORPORATE</h6>
                                <h1 class="block-caption"><small>$</small>69</h1>
                                <ul>
                                    <li><b>4 GB</b> Ram</li>
                                    <li><b>7/24</b> Tech Support</li>
                                    <li><b>40 GB</b> SSD Cloud Storage</li>
                                    <li>Monthly Backups</li>
                                    <li>Palo Protection</li>
                                </ul> <a href="#" class="btn btn-white btn-round"><i class="fa fa-shopping-cart"></i> Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="block block-pricing">
                            <div class="table">
                                <h6 class="category">PROFESSIONAL</h6>
                                <h1 class="block-caption"><small>$</small>89</h1>
                                <ul>
                                    <li><b>4 GB</b> Ram</li>
                                    <li><b>7/24</b> Tech Support</li>
                                    <li><b>40 GB</b> SSD Cloud Storage</li>
                                    <li>Monthly Backups</li>
                                    <li>Palo Protection</li>
                                </ul> <a href="#" class="btn btn-danger btn-round"><i class="fa fa-shopping-cart"></i> Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- *********  END PRICING 1  ********* -->
        <!-- *********  PRICING 2  ********* -->
        <div class="pricing-2" hidden="">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="block block-pricing block-plain">
                            <div class="table">
                                <h6 class="category">&nbsp;</h6>
                                <h1 class="block-caption">&nbsp;</h1>
                                <ul>
                                    <li>Hardware</li>
                                    <li>Memory</li>
                                    <li>Channel</li>
                                    <li>HDD</li>
                                    <li>Email</li>
                                    <li>Monitoring</li>
                                    <li>Support</li>
                                    <li>Operating System</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="block block-pricing block-raised">
                            <div class="table table-info">
                                <h6 class="category">Basic</h6>
                                <h1 class="block-caption"><small>$</small>89</h1>
                                <ul>
                                    <li>Intel i5 2.7</li>
                                    <li>512Mb Ram</li>
                                    <li>10GB Storage</li>
                                    <li>5GB Bandwidth</li>
                                    <li>20 Email Addresses</li>
                                    <li>24/7</li>
                                    <li>24/7</li>
                                    <li>Linux, Windows</li>
                                </ul> <a href="#" class="btn btn-white btn-raise btn-round">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="block block-pricing block-plain">
                            <div class="table">
                                <h6 class="category">Standart</h6>
                                <h1 class="block-caption"><small>$</small>189</h1>
                                <ul>
                                    <li>Intel i5 2.7</li>
                                    <li>512Mb Ram</li>
                                    <li>10GB Storage</li>
                                    <li>5GB Bandwidth</li>
                                    <li>20 Email Addresses</li>
                                    <li>24/7</li>
                                    <li>24/7</li>
                                    <li>Linux, Windows</li>
                                </ul> <a href="#" class="btn btn-info btn-round">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="block block-pricing block-plain">
                            <div class="table">
                                <h6 class="category">Premium</h6>
                                <h1 class="block-caption"><small>$</small>389</h1>
                                <ul>
                                    <li>Intel i5 2.7</li>
                                    <li>512Mb Ram</li>
                                    <li>10GB Storage</li>
                                    <li>5GB Bandwidth</li>
                                    <li>20 Email Addresses</li>
                                    <li>24/7</li>
                                    <li>24/7</li>
                                    <li>Linux, Windows</li>
                                </ul> <a href="#" class="btn btn-info btn-round">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- *********  END PRICING 2  ********* -->
        <!-- *********  PRICING 3  ********* -->
        <div class="pricing-3 section-gray" hidden="">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="block block-pricing">
                            <div class="table">
                                <h6 class="category">Personal</h6>
                                <h1 class="block-caption"><small>$</small>29</h1>
                                <ul>
                                    <li><b>4 GB</b> Ram</li>
                                    <li><b>7/24</b> Tech Support</li>
                                    <li><b>40 GB</b> SSD Cloud Storage</li>
                                    <li>Monthly Backups</li>
                                    <li>Palo Protection</li>
                                </ul> <a href="#" class="btn btn-rose btn-round">Sign Up</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="block block-pricing block-raised">
                            <div class="table table-rose">
                                <h6 class="category">Business</h6>
                                <h1 class="block-caption"><small>$</small>49</h1>
                                <ul>
                                    <li><b>4 GB</b> Ram</li>
                                    <li><b>7/24</b> Tech Support</li>
                                    <li><b>40 GB</b> SSD Cloud Storage</li>
                                    <li>Monthly Backups</li>
                                    <li>Palo Protection</li>
                                </ul> <a href="#" class="btn btn-white btn-round">Sign Up</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="block block-pricing">
                            <div class="table">
                                <h6 class="category">Corporate</h6>
                                <h1 class="block-caption"><small>$</small>69</h1>
                                <ul>
                                    <li><b>4 GB</b> Ram</li>
                                    <li><b>7/24</b> Tech Support</li>
                                    <li><b>40 GB</b> SSD Cloud Storage</li>
                                    <li>Monthly Backups</li>
                                    <li>Palo Protection</li>
                                </ul> <a href="#" class="btn btn-rose btn-round">Sign Up</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- *********  END PRICING 3  ********* -->
        <!-- *********  PRICING 4  ********* -->
        <div class="pricing-4" hidden="">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="block block-pricing">
                            <div class="table">
                                <h6 class="category">Personal</h6>
                                <h1 class="block-caption"><small>$</small>29</h1>
                                <ul>
                                    <li><b>4 GB</b> Ram</li>
                                    <li><b>7/24</b> Tech Support</li>
                                    <li><b>40 GB</b> SSD Cloud Storage</li>
                                    <li>Monthly Backups</li>
                                    <li>Palo Protection</li>
                                </ul> <a href="#" class="btn btn-success btn-raise btn-round">Sign Up</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="block block-pricing block-raised">
                            <div class="table table-success">
                                <h6 class="category">Business</h6>
                                <h1 class="block-caption"><small>$</small>49</h1>
                                <ul>
                                    <li><b>4 GB</b> Ram</li>
                                    <li><b>7/24</b> Tech Support</li>
                                    <li><b>40 GB</b> SSD Cloud Storage</li>
                                    <li>Monthly Backups</li>
                                    <li>Palo Protection</li>
                                </ul> <a href="#" class="btn btn-white btn-round">Sign Up</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="block block-pricing">
                            <div class="table">
                                <h6 class="category">Corporate</h6>
                                <h1 class="block-caption"><small>$</small>69</h1>
                                <ul>
                                    <li><b>4 GB</b> Ram</li>
                                    <li><b>7/24</b> Tech Support</li>
                                    <li><b>40 GB</b> SSD Cloud Storage</li>
                                    <li>Monthly Backups</li>
                                    <li>Palo Protection</li>
                                </ul> <a href="#" class="btn btn-success btn-round">Sign Up</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="block block-pricing">
                            <div class="table">
                                <h6 class="category">Professional</h6>
                                <h1 class="block-caption"><small>$</small>89</h1>
                                <ul>
                                    <li><b>4 GB</b> Ram</li>
                                    <li><b>7/24</b> Tech Support</li>
                                    <li><b>40 GB</b> SSD Cloud Storage</li>
                                    <li>Monthly Backups</li>
                                    <li>Palo Protection</li>
                                </ul> <a href="#" class="btn btn-success btn-round">
                                    Sign Up
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- *********  END PRICING 4  ********* -->
        <!-- *********  PRICING 5  ********* -->
        <div class="pricing-5 section-gray" hidden="">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="block block-pricing">
                            <div class="table">
                                <h6 class="category">Free</h6>
                                <div class="icon"> <i class="fa fa-android "></i> </div>
                                <h3 class="block-caption">FREE</h3>
                                <p class="block-description">Aliquam sit amet gravida ante, non accumsan nisl. Nulla ut diam.</p> <a href="#" class="btn btn-warning btn-round">Get Free</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="block block-pricing">
                            <div class="table">
                                <h6 class="category">Unlimited</h6>
                                <div class="icon"> <i class="fa fa-apple"></i> </div>
                                <h3 class="block-caption">$29</h3>
                                <p class="block-description"> Aliquam sit amet gravida ante, non accumsan nisl. Nulla ut diam.</p> <a href="#" class="btn btn-warning btn-round">Get Unlimited</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="block block-pricing block-raised">
                            <div class="table table-warning">
                                <h6 class="category">Premium</h6>
                                <div class="icon"> <i class="fa fa-windows active"></i> </div>
                                <h3 class="block-caption">$49</h3>
                                <p class="block-description"> Aliquam sit amet gravida ante, non accumsan nisl. Nulla ut diam.</p> <a href="#" class="btn btn-white btn-round">Get Premium</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="block block-pricing">
                            <div class="table">
                                <h6 class="category">Platinum</h6>
                                <div class="icon"> <i class="fa fa-certificate"></i> </div>
                                <h3 class="block-caption">$69</h3>
                                <p class="block-description"> Aliquam sit amet gravida ante, non accumsan nisl. Nulla ut diam.</p> <a href="#" class="btn btn-warning btn-round">Get Platinum</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- *********  END PRICING 5  ********* -->
        <!-- *********  PRICING 6  ********* -->
        <div class="pricing-6" hidden="">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="block block-pricing block-plain">
                            <div class="table">
                                <h6 class="category">Personal</h6>
                                <h1 class="block-caption"><small>$</small>12<small>/mo</small></h1>
                                <ul>
                                    <li><b>4 GB</b> Ram</li>
                                    <li><b>7/24</b> Tech Support</li>
                                    <li><b>40 GB</b> SSD Cloud Storage</li>
                                    <li>Monthly Backups</li>
                                    <li>Palo Protection</li>
                                </ul> <a href="#" class="btn btn-primary btn-round">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="block block-pricing block-plain">
                            <div class="table">
                                <h6 class="category">Business</h6>
                                <h1 class="block-caption"><small>$</small>19<small>/mo</small></h1>
                                <ul>
                                    <li><b>4 GB</b> Ram</li>
                                    <li><b>7/24</b> Tech Support</li>
                                    <li><b>40 GB</b> SSD Cloud Storage</li>
                                    <li>Monthly Backups</li>
                                    <li>Palo Protection</li>
                                </ul> <a href="#" class="btn btn-primary btn-round">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="block block-pricing block-background block-raised" style="background-image: url('images/bg1.jpeg')">
                            <div class="table">
                                <h6 class="category" style="color:#fff">Corporate</h6>
                                <h1 class="block-caption"><small>$</small>29<small>/mo</small></h1>
                                <ul>
                                    <li><b>4 GB</b> Ram</li>
                                    <li><b>7/24</b> Tech Support</li>
                                    <li><b>40 GB</b> SSD Cloud Storage</li>
                                    <li>Monthly Backups</li>
                                    <li>Palo Protection</li>
                                </ul> <a href="#" class="btn btn-white btn-round">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="block block-pricing block-plain">
                            <div class="table">
                                <h6 class="category">Professional</h6>
                                <h1 class="block-caption"><small>$</small>39<small>/mo</small></h1>
                                <ul>
                                    <li><b>4 GB</b> Ram</li>
                                    <li><b>7/24</b> Tech Support</li>
                                    <li><b>40 GB</b> SSD Cloud Storage</li>
                                    <li>Monthly Backups</li>
                                    <li>Palo Protection</li>
                                </ul> <a href="#" class="btn btn-primary btn-round">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- *********  END PRICING 6  ********* -->
        <!-- *********  PRICING 7  ********* -->
        <div class="pricing-7 section-gray" hidden="">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="block block-pricing block-plain">
                            <div class="table">
                                <h6 class="category">Free</h6>
                                <h1 class="block-caption"><small>$</small>0<small>/mo</small></h1>
                                <ul>
                                    <li><b>4 GB</b> Ram</li>
                                    <li><b>7/24</b> Tech Support</li>
                                    <li><b>40 GB</b> SSD Cloud Storage</li>
                                    <li>Monthly Backups</li>
                                    <li>Palo Protection</li>
                                </ul> <a href="#" class="btn btn-white btn-round">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="block block-pricing block-raised">
                            <div class="table">
                                <h6 class="category">Personal</h6>
                                <h1 class="block-caption"><small>$</small>12<small>/mo</small></h1>
                                <ul>
                                    <li><b>4 GB</b> Ram</li>
                                    <li><b>7/24</b> Tech Support</li>
                                    <li><b>40 GB</b> SSD Cloud Storage</li>
                                    <li>Monthly Backups</li>
                                    <li>Palo Protection</li>
                                </ul> <a href="#" class="btn btn-warning btn-round">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="block block-pricing block-plain">
                            <div class="table">
                                <h6 class="category">Business</h6>
                                <h1 class="block-caption"><small>$</small>19<small>/mo</small></h1>
                                <ul>
                                    <li><b>4 GB</b> Ram</li>
                                    <li><b>7/24</b> Tech Support</li>
                                    <li><b>40 GB</b> SSD Cloud Storage</li>
                                    <li>Monthly Backups</li>
                                    <li>Palo Protection</li>
                                </ul> <a href="#" class="btn btn-white btn-round">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="block block-pricing block-plain">
                            <div class="table">
                                <h6 class="category">Corporate</h6>
                                <h1 class="block-caption"><small>$</small>29<small>/mo</small></h1>
                                <ul>
                                    <li><b>4 GB</b> Ram</li>
                                    <li><b>7/24</b> Tech Support</li>
                                    <li><b>40 GB</b> SSD Cloud Storage</li>
                                    <li>Monthly Backups</li>
                                    <li>Palo Protection</li>
                                </ul> <a href="#" class="btn btn-white btn-round">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- *********  END PRICING 7  ********* -->
        <!-- *********  PRICING 8  ********* -->
        <div class="pricing-8" style="background-image: url('images/bg2.jpeg')" hidden="">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 offset-md-2">
                        <div class="block block-pricing">
                            <div class="table">
                                <h6 class="category">Personal</h6>
                                <h1 class="block-caption"><small>$</small>12<small>/mo</small></h1>
                                <ul>
                                    <li><b>4 GB</b> Ram</li>
                                    <li><b>7/24</b> Tech Support</li>
                                    <li><b>40 GB</b> SSD Cloud Storage</li>
                                    <li>Monthly Backups</li>
                                    <li>Palo Protection</li>
                                </ul> <a href="#" class="btn btn-primary btn-round">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="block block-pricing">
                            <div class="table table-primary">
                                <h6 class="category">Business</h6>
                                <h1 class="block-caption"><small>$</small>19<small>/mo</small></h1>
                                <ul>
                                    <li><b>4 GB</b> Ram</li>
                                    <li><b>7/24</b> Tech Support</li>
                                    <li><b>40 GB</b> SSD Cloud Storage</li>
                                    <li>Monthly Backups</li>
                                    <li>Palo Protection</li>
                                </ul> <a href="#" class="btn btn-white btn-round">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- *********  END PRICING 8  ********* -->
        <!-- *********  PRICING 10  ********* -->
        <div class="pricing-10" hidden="">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="block block-pricing">
                            <div class="table table-danger">
                                <h6 class="category">Danger</h6>
                                <h1 class="block-caption"><small>$</small>D</h1>
                                <ul>
                                    <li>Danger</li>
                                    <li>Danger</li>
                                    <li>Danger</li>
                                    <li>Danger</li>
                                </ul> <a href="#" class="btn btn-white btn-raise btn-round"><i class="fa fa-shopping-cart"></i> Danger</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="block block-pricing">
                            <div class="table table-warning">
                                <h6 class="category">Warning</h6>
                                <h1 class="block-caption"><small>$</small>W</h1>
                                <ul>
                                    <li>Warning</li>
                                    <li>Warning</li>
                                    <li>Warning</li>
                                    <li>Warning</li>
                                </ul>
                                <a href="#" class="btn btn-white btn-round"> <i class="fa fa-shopping-cart"></i> Warning</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="block block-pricing">
                            <div class="table table-rose">
                                <h6 class="category">Rose</h6>
                                <h1 class="block-caption"><small>$</small>R</h1>
                                <ul>
                                    <li>Rose</li>
                                    <li>Rose</li>
                                    <li>Rose</li>
                                    <li>Rose</li>
                                </ul>
                                <a href="#" class="btn btn-white btn-round"> <i class="fa fa-shopping-cart"></i> Rose</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="block block-pricing">
                            <div class="table table-info">
                                <h6 class="category">Info</h6>
                                <h1 class="block-caption"><small>$</small>I</h1>
                                <ul>
                                    <li>Info</li>
                                    <li>Info</li>
                                    <li>Info</li>
                                    <li>Info</li>
                                </ul>
                                <a href="#" class="btn btn-white btn-round">
                                    <i class="fa fa-shopping-cart"></i> Info
                                    <div class="ripple-container"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="block block-pricing">
                            <div class="table table-success">
                                <h6 class="category">Success</h6>
                                <h1 class="block-caption"><small>$</small>S</h1>
                                <ul>
                                    <li>Success</li>
                                    <li>Success</li>
                                    <li>Success</li>
                                    <li>Success</li>
                                </ul>
                                <a href="#" class="btn btn-white btn-round"> <i class="fa fa-shopping-cart"></i> Success</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="block block-pricing ">
                            <div class="table table-primary">
                                <h6 class="category">Primary</h6>
                                <h1 class="block-caption"><small>$</small>P</h1>
                                <ul>
                                    <li>Primary</li>
                                    <li>Primary</li>
                                    <li>Primary</li>
                                    <li>Primary</li>
                                </ul>
                                <a href="#" class="btn btn-white btn-round"> <i class="fa fa-shopping-cart"></i> Primary</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- *********  END PRICING 10  ********* -->

        <script src="~/Scripts/bootstrap/jquery.min.js"></script>
        <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
</body>
</html>
