
@{
    Layout = "~/Views/Shared/_Template.cshtml";
}

<article class="col-md-12">
    <div class="section-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                    <ul id="feaures-and-pricing-selector" class="nav nav-tabs" role="tablist">
                        <li class="nav-item"><a class="nav-link active" href="#monthly" id="monthly-tab" role="tab" data-toggle="tab" aria-controls="monthly" aria-expanded="true"><i class="fa fa-usd"></i> MONTHLY</a> </li>
                        <li class="nav-item"><a class="nav-link" href="#yearly" role="tab" id="yearly-tab" data-toggle="tab" aria-controls="yearly" aria-expanded="false"><i class="fa fa-usd"></i> YEARLY</a> </li>
                    </ul>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <!-- Content Panel -->
                    <div id="features-and-pricing" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active show" id="monthly" aria-labelledby="monthly-tab" aria-expanded="true">
                            <div class="row">
                                <div class="col-sm">
                                    @*SILVER PLAN*@
                                    <div class="block block-pricing">
                                        <div class="table">
                                            <div class="row plan-header">
                                                <div class="plan-header-holder">
                                                    <div class="display-block">
                                                        <span class="plan-header-name">SILVER</span>
                                                        <span class="plan-header-plan">PLAN</span>
                                                        <div class="plan-header-value">Best starting value!</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h1 class="block-caption"><small>$</small>3.95</h1>
                                            <div class="text-center pt15" style="padding-bottom: 15px;">
                                                <div class="display-inline">
                                                    * rate as low as <span class="rates-as-low-as-percentage">2.29%</span>
                                                </div>
                                            </div>
                                            <button type="submit" class="partner-btn custom-pricing-btn btn-round">Select</button>
                                            <div class="features-and-pricing-holder">
                                                <div class="features-and-pricing-header">
                                                    Available Features
                                                </div>
                                            </div>
                                            <ul>
                                                <li>Online Terminal</li>
                                                <li>Mobile Application</li>
                                                <li>Mobile Website</li>
                                                <li>Touchtone Phone</li>
                                                <li>Buy It Now Button</li>
                                                <li>Donate Now Button</li>
                                                <li>Stored Cards</li>
                                            </ul>
                                            <div class="rates-divider"></div>
                                            <h1 class="block-caption-bottom"><small>$</small>3.95<small>per month</small></h1>
                                            <div class="text-center pt15" style="padding-bottom: 15px;">
                                                <div class="display-inline">
                                                    <div>
                                                        was $<span class="discounted-plan-price">4.35</span>
                                                        <span class="discounted-plan-percentage">Save 10%</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="partner-btn custom-pricing-btn btn-round">Get It Now</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    @*GOLD PLAN*@
                                    <div class="block block-pricing">
                                        <div class="table">
                                            <div class="row plan-header">
                                                <div class="plan-header-holder">
                                                    <div class="display-block">
                                                        <span class="plan-header-name">GOLD</span>
                                                        <span class="plan-header-plan">PLAN</span>
                                                        <div class="plan-header-value">Best starting value!</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h1 class="block-caption"><small>$</small>5.95</h1>
                                            <div class="text-center pt15" style="padding-bottom: 15px;">
                                                <div class="display-inline">
                                                    * rate as low as <span class="rates-as-low-as-percentage">2.29%</span>
                                                </div>
                                            </div>
                                            <button type="submit" class="partner-btn custom-pricing-btn btn-round">Select</button>
                                            <div class="features-and-pricing-holder">
                                                <div class="features-and-pricing-header">
                                                    Available Features
                                                </div>
                                            </div>
                                            <ul>
                                                <li>Online Terminal</li>
                                                <li>Mobile Application</li>
                                                <li>Mobile Website</li>
                                                <li>Touchtone Phone</li>
                                                <li>Buy It Now Button</li>
                                                <li>Donate Now Button</li>
                                                <li>Stored Cards</li>
                                            </ul>
                                            <div class="rates-divider"></div>
                                            <h1 class="block-caption-bottom"><small>$</small>5.95<small>per month</small></h1>
                                            <div class="text-center pt15" style="padding-bottom: 15px;">
                                                <div class="display-inline">
                                                    <div>
                                                        was $<span class="discounted-plan-price">6.65</span>
                                                        <span class="discounted-plan-percentage">Save 10%</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="partner-btn custom-pricing-btn btn-round">Get It Now</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    @*PLATINUM PLAN*@
                                    <div class="block block-pricing">
                                        <div class="table">
                                            <div class="row plan-header">
                                                <div class="plan-header-holder">
                                                    <div class="display-block">
                                                        <span class="plan-header-name">PLATINUM</span>
                                                        <span class="plan-header-plan">PLAN</span>
                                                        <div class="plan-header-value">Best starting value!</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h1 class="block-caption"><small>$</small>9.95</h1>
                                            <div class="text-center pt15" style="padding-bottom: 15px;">
                                                <div class="display-inline">
                                                    * rate as low as <span class="rates-as-low-as-percentage">2.29%</span>
                                                </div>
                                            </div>
                                            <button type="submit" class="partner-btn custom-pricing-btn btn-round">Select</button>
                                            <div class="features-and-pricing-holder">
                                                <div class="features-and-pricing-header">
                                                    Available Features
                                                </div>
                                            </div>
                                            <ul>
                                                <li>Online Terminal</li>
                                                <li>Mobile Application</li>
                                                <li>Mobile Website</li>
                                                <li>Touchtone Phone</li>
                                                <li>Buy It Now Button</li>
                                                <li>Donate Now Button</li>
                                                <li>Stored Cards</li>
                                            </ul>
                                            <div class="rates-divider"></div>
                                            <h1 class="block-caption-bottom"><small>$</small>9.95<small>per month</small></h1>
                                            <div class="text-center pt15" style="padding-bottom: 15px;">
                                                <div class="display-inline">
                                                    <div>
                                                        was $<span class="discounted-plan-price">10.95</span>
                                                        <span class="discounted-plan-percentage">Save 10%</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="partner-btn custom-pricing-btn btn-round">Get It Now</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md" hidden>
                                    @*EXTRA PLAN*@
                                    <div class="block block-pricing">
                                        <div class="table">
                                            <div class="row plan-header">
                                                <div class="plan-header-holder">
                                                    <div class="display-block">
                                                        <span class="plan-header-name">PLATINUM</span>
                                                        <span class="plan-header-plan">PLAN</span>
                                                        <div class="plan-header-value">Best starting value!</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h1 class="block-caption"><small>$</small>29.99</h1>
                                            <div class="text-center pt15" style="padding-bottom: 15px;">
                                                <div class="display-inline">
                                                    <div>
                                                        was $<span class="discounted-plan-price">32.99</span>
                                                        <span class="discounted-plan-percentage">Save 10%</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="partner-btn custom-pricing-btn btn-round">Select</button>
                                            <ul>
                                                <li>Online Terminal</li>
                                                <li>Mobile Application</li>
                                                <li>Mobile Website</li>
                                                <li>Touchtone Phone</li>
                                                <li>Buy It Now Button</li>
                                                <li>Donate Now Button</li>
                                                <li>Stored Cards</li>
                                            </ul>
                                            <div class="rates-header-holder">
                                                <div class="rates-header">
                                                    RATES, FEES &amp; LIMITS
                                                </div>
                                            </div>
                                            <div class="row card-and-rates-holder">
                                                <div class="col col-md-6 card-brand">Visa:</div>
                                                <div class="col col-md-6 card-brand-rates"><span>2.29% + $0.30</span> (swiped)<br /><span>2.84% + $0.30</span> (keyed)</div>
                                            </div>
                                            <div class="row card-and-rates-holder">
                                                <div class="col col-md-6 card-brand">MasterCard:</div>
                                                <div class="col col-md-6 card-brand-rates"><span>2.29% + $0.30</span> (swiped)<br /><span>2.84% + $0.30</span> (keyed)</div>
                                            </div>
                                            <div class="row card-and-rates-holder">
                                                <div class="col col-md-6 card-brand">Am. Express:</div>
                                                <div class="col col-md-6 card-brand-rates"><span>3.19% + $0.30</span> (swiped)<br /><span>3.19% + $0.30</span> (keyed)</div>
                                            </div>
                                            <div class="row card-and-rates-holder">
                                                <div class="col col-md-6 card-brand">Discover:</div>
                                                <div class="col col-md-6 card-brand-rates"><span>2.29% + $0.30</span> (swiped)<br /><span>2.84% + $0.30</span> (keyed)</div>
                                            </div>
                                            <div class="row card-and-rates-holder">
                                                <div class="col col-md-6 card-brand">Bank Transfer:</div>
                                                <div class="col col-md-6 card-brand-rates"><span>$0.30</span></div>
                                            </div>
                                            <div class="row card-and-rates-holder">
                                                <div class="col col-md-6 card-brand">Single Trans. Limit:</div>
                                                <div class="col col-md-6 card-brand-rates"><span>$650</span></div>
                                            </div>
                                            <div class="row card-and-rates-holder">
                                                <div class="col col-md-6 card-brand">Monthly Trans. Limit:</div>
                                                <div class="col col-md-6 card-brand-rates"><span>$2,500</span></div>
                                            </div>

                                            <h1 class="block-caption-bottom"><small>$</small>29.99</h1>
                                            <div class="text-center pt15">
                                                per month
                                            </div>
                                            <button type="submit" class="partner-btn custom-pricing-btn btn-round">Get It Now</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="yearly" aria-labelledby="yearly-tab" aria-expanded="false">
                            <div class="row">
                                <div class="col-md">
                                    <div class="block block-pricing">
                                        @*YEARLY SILVER*@
                                        <div class="table">
                                            <div class="row plan-header">
                                                <div class="plan-header-holder">
                                                    <div class="display-block">
                                                        <span class="plan-header-name">SILVER</span>
                                                        <span class="plan-header-plan">PLAN</span>
                                                        <div class="plan-header-value">Best starting value!</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h1 class="block-caption"><small>$</small>29.99</h1>
                                            <div class="text-center pt15" style="padding-bottom: 15px;">
                                                <div class="display-inline">
                                                    * rate as low as <span class="rates-as-low-as-percentage">2.29%</span>
                                                </div>
                                            </div>
                                            <button type="submit" class="partner-btn custom-pricing-btn btn-round">Select</button>
                                            <div class="features-and-pricing-holder">
                                                <div class="features-and-pricing-header">
                                                    Available Features
                                                </div>
                                            </div>
                                            <ul>
                                                <li>Online Terminal</li>
                                                <li>Mobile Application</li>
                                                <li>Mobile Website</li>
                                                <li>Touchtone Phone</li>
                                                <li>Buy It Now Button</li>
                                                <li>Donate Now Button</li>
                                                <li>Stored Cards</li>
                                            </ul>
                                            <div class="rates-divider"></div>
                                            <h1 class="block-caption-bottom"><small>$</small>29.99<small>per year</small></h1>
                                            <div class="text-center pt15" style="padding-bottom: 15px;">
                                                <div class="display-inline">
                                                    <div>
                                                        was $<span class="discounted-plan-price">32.99</span>
                                                        <span class="discounted-plan-percentage">Save 10%</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="partner-btn custom-pricing-btn btn-round">Get It Now</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="block block-pricing">
                                        @*YEARLY GOLD*@
                                        <div class="table">
                                            <div class="row plan-header">
                                                <div class="plan-header-holder">
                                                    <div class="display-block">
                                                        <span class="plan-header-name">GOLD</span>
                                                        <span class="plan-header-plan">PLAN</span>
                                                        <div class="plan-header-value">Best starting value!</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <h1 class="block-caption"><small>$</small>34.99</h1>
                                            <div class="text-center pt15" style="padding-bottom: 15px;">
                                                <div class="display-inline">
                                                    * rate as low as <span class="rates-as-low-as-percentage">2.29%</span>
                                                </div>
                                            </div>
                                            <button type="submit" class="partner-btn custom-pricing-btn btn-round">Select</button>
                                            <div class="features-and-pricing-holder">
                                                <div class="features-and-pricing-header">
                                                    Available Features
                                                </div>
                                            </div>
                                            <ul>
                                                <li>Online Terminal</li>
                                                <li>Mobile Application</li>
                                                <li>Mobile Website</li>
                                                <li>Touchtone Phone</li>
                                                <li>Buy It Now Button</li>
                                                <li>Donate Now Button</li>
                                                <li>Stored Cards</li>
                                            </ul>
                                            <div class="rates-divider"></div>
                                            <h1 class="block-caption-bottom"><small>$</small>34.99<small>per year</small></h1>
                                            <div class="text-center pt15" style="padding-bottom: 15px;">
                                                <div class="display-inline">
                                                    <div>
                                                        was $<span class="discounted-plan-price">38.49</span>
                                                        <span class="discounted-plan-percentage">Save 10%</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="partner-btn custom-pricing-btn btn-round">Get It Now</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md" hidden>
                                    <div class="block block-pricing">
                                        <div class="table">
                                            <h6 class="category">Corporate</h6>
                                            <h1 class="block-caption"><small>$</small>79</h1>
                                            <ul>
                                                <li><b>4 GB</b> Ram</li>
                                                <li><b>7/24</b> Tech Support</li>
                                                <li><b>40 GB</b> SSD Cloud Storage</li>
                                                <li>Monthly Backups</li>
                                                <li>Palo Protection</li>
                                            </ul> <a href="#" class="partner-btn btn-primary btn-round">Sign Up</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md" hidden>
                                    <div class="block block-pricing">
                                        <div class="table">
                                            <h6 class="category">Professional</h6>
                                            <h1 class="block-caption"><small>$</small>99</h1>
                                            <ul>
                                                <li><b>4 GB</b> Ram</li>
                                                <li><b>7/24</b> Tech Support</li>
                                                <li><b>40 GB</b> SSD Cloud Storage</li>
                                                <li>Monthly Backups</li>
                                                <li>Palo Protection</li>
                                            </ul> <a href="#" class="partner-btn btn-primary btn-round">Sign Up</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>


